/*FOOTER*/
footer{
    height: 630px;
    background-color:$navFooter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    grid-area: footer;
}

.footer{
    height: 630px;
}


/*titulo del footer*/
#tituloContacto{
    font-family: $fuente-principal;
    font-size: map-get($tamañoFuente, grande);
    color: $color-estilo;
    text-align: center;
    margin-top: 15px;

}

/*informacion de contacto*/
#whatsapp{
    font-family: $fuente-principal;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#email{
    font-family: $fuente-principal;
    font-size: 23px;
    display: flex;
    justify-content: end;
    margin-top: 16px;
}

/*formulario*/
form {
    font-size: 20px;
}

.contacto {
    text-align: center;
    
}

.fila{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin-right: 10px;
    }
}

.container form{
    display:flex;
    justify-content: center;
    align-items: center;
}

.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-6{
    display: flex;
    justify-content: center;
}

textarea{
    width: 70%;
}

.btn-primary{ /*boton enviar*/
    width: 90px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid green;
    background-image: linear-gradient(#2ECC71, rgb(46, 134, 81));
    box-shadow: 0 0 10px rgb(105, 137, 126);
    &:hover{
        background-image: linear-gradient(to left, #24a259,rgb(38, 109, 66) );
        box-shadow: 0 0 10px rgba(105, 137, 126, 0.822);
        transform: scale(1.1);
        cursor: pointer;
    }
}  