/* HEADER */
header{
    grid-area: header;
    background-color:rgba(248, 247, 244, 0.967);
    padding: 5px 5%;
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

.navbar {
    display: flex;
    justify-content: center; 
    background-color: rgba(248, 247, 244, 0.967);
}

.full-width-navbar {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.logo1{
    display: flex;
}

#logo{
    margin: 0;
    width: 20%;
    &:hover{
        cursor: pointer;
        }
}


.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-nav .nav-item .nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-size: 22px;
    padding:0 15px;
    margin: 0 10px;
    background-color:rgba(248, 247, 244, 0.967);
    &:hover{
        color: $color-estilo;
        transform: scale(1.1);
        text-decoration: none;
    }
}

#icono-email:hover{
    cursor: pointer;
}

#icono-instagram:hover{
    cursor: pointer;
}

#icono-Whatsapp{
    display: none;
}
.iconos-de-contacto {
    display: flex;
    align-items: center;
}

.contacto-item {
    margin-right: 10px;
}