/* HEADER */
@media (min-width:1024px) {
header{
    grid-area: header;
    background-color:rgba(248, 247, 244, 0.967);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
}

.navbar {
    display: flex;
    justify-content: center; 
    height: 100px;
    background-color: rgba(248, 247, 244, 0.967);
}

.full-width-navbar {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.logo1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#logo{
    margin: 0;
    width: 150px;
    &:hover{
        cursor: pointer;
        }
}

/*menu de navegacion*/

    .navbar {
    background-color:rgba(248, 247, 244, 0.967);
    height: 50%;
    }

    .navbar-nav {
        display: flex;
        justify-content: start
    }

.navbar-nav .nav-item .nav-link{
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 22px;
    padding:0 15px;
    margin: 0 10px;
    background-color:rgba(248, 247, 244, 0.967);
    &:hover{
        color: $color-estilo;
        transform: scale(1.1);
        text-decoration: none;
    }
}

.dropdown-item{
    text-align: center;
        &:hover{color: $color-estilo;
            background-color: rgba(230, 221, 221, 0.393);
            transform: scale(1.1);   
        }
    }

#icono-email:hover{
    cursor: pointer;
}

#icono-instagram:hover{
    cursor: pointer;
}

#icono-Whatsapp{
    display: none;
}
.iconos-de-contacto {
    display: flex;
    align-items: center;
}

.contacto-item {
    margin-right: 10px;
}
}