/*TABLET*/
@media (min-width:577px) and (max-width:1023px){


/*HEADER*/
header{
    grid-area: header;
    background-color:rgba(248, 247, 244, 0.967);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}

#logo{
    display: flex;
    justify-content: flex-start;
    margin-top: 55px;
    &:hover{
        cursor: pointer;
        }
}

#imagen/*menu de navegacion*/
    .navbar {
    background-color:rgba(248, 247, 244, 0.967);
    }

    .navbar-nav {
        display: flex;
        justify-content: start
    }


.navbar-nav .nav-item .nav-link{
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 22px;
    padding:0 15px;
    margin: 0 10px;
    background-color:rgba(248, 247, 244, 0.967);
    &:hover{
        color: $color-estilo;
        transform: scale(1.1);
        text-decoration: none;
    }
}

#icono-email:hover{
    cursor: pointer;
}

#icono-instagram:hover{
    cursor: pointer;
}

.iconos-de-contacto {
    display: flex;
    align-items: center;
}

.contacto-item {
    margin-right: 10px;
}

/*MAIN*/
.grid-container {
grid-template-rows: 500px 200px 400px 300px 700px;
}

.imagenPrincipal{
@include flex(flex, center, center);
grid-area: foto;

}

.fotoPrincipal{
@include flex(flex, center, center);
img {
    width: 85%;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow:0 0 10px rgb(154, 154, 154);
    transition: width 2s, height 2s;
    &:hover{
        cursor: pointer;
        width:90%
    }
}
}

.titulo{
font-family:cursive;
font-size: 25px;
@include flex(flex, center, center);
margin-top: 100px;
}

.parrafo1{
p{
    font-family: $fuente-principal;
    font-size: map-get($tamañoFuente, pequeña);
    @include parrafos(center, 15%, 5%);
}
}

.parrafo2 {
margin-top: 80px;
p{
    font-family: $fuente-principal;
    font-size: map-get($tamañoFuente, pequeña);
    @include parrafos(center, 10%, 10%);
}
}

.parrafo3{
margin-top: 50px;
p{
    font-family: $fuente-principal;
    font-size: map-get($tamañoFuente, pequeña);
    @include parrafos(center, 10%, 10%);
}
}

.grid-container{
max-width: none;
width: 100%;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 700px 250px 500px 400px 900px;
grid-template-areas:
"texto1 texto1 foto"
"texto2 texto2 texto2"
"imagenes imagenes imagenes"
"texto3 texto3 texto3"
"carrusel carrusel carrusel"
}

.presentacion1{
grid-area: texto1;
grid-column: 1/3;
}

.presentacion2{
grid-area: texto2;
}

#capturando3{
border-radius: 8px;
cursor: pointer;
box-shadow:0 0 10px rgb(154, 154, 154);
}

.presentacion3{
grid-area: texto3;
}

.container-carrusel{
@include flex(flex, center, center);
grid-area: carrusel;
}


/*FOOTER*/
footer{
height: 630px;
background-color:$navFooter;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-top: 10px;
grid-area: footer;
}

.footer{
height: 630px;
}

/*titulo del footer*/
#tituloContacto{
font-family: $fuente-principal;
font-size: map-get($tamañoFuente, grande);
color: $color-estilo;
text-align: center;

}

/*informacion de contacto*/
#whatsapp{
font-family: $fuente-principal;
font-size: 26px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}

#email{
font-family: $fuente-principal;
font-size: 26px;
display: flex;
justify-content: end;
margin-top: 16px;
}

/*formulario*/
form {
font-size: 20px;
}

.contacto {
text-align: center;

}

.fila{
height: 60px;
display: flex;
align-items: center;
justify-content: center;
img {
    margin-right: 10px;
}
}

.container form{
display:flex;
justify-content: center;
align-items: center;
margin-top: 5px;
}

.col-12{
display: flex;
justify-content: center;
align-items: center;
}

.col-6{
display: flex;
justify-content: center;
}

.btn-primary{ /*boton enviar*/
width: 90px;
height: 45px;
border-radius: 10px;
display: flex;
justify-content: center;
background-color: $color-estilo;
border: 1px solid green;
background-image: linear-gradient(#2ECC71,rgb(46, 134, 81) );
box-shadow: 0 0 10px rgb(105, 137, 126);
&:hover{
    background-image: linear-gradient(to left, #24a259,rgb(38, 109, 66) );
    box-shadow: 0 0 10px rgba(105, 137, 126, 0.822);
    transform: scale(1.1);
    cursor: pointer;
        }
    }  
}

/*MOVIL*/
@media (min-width: 320px) and (max-width: 768px){

    /*HEADER*/

    /*menú hamburguesa*/
    .navbar{
        justify-content: space-between;
        width: 100%;
    } 

    .navbar-header{
        display: flex;
        width: 100%;
        align-items: center;
        
    }
    
    .navbar-toggler {
        display: flex;
        justify-content: flex-end;
        background-color: #5aed97ac;
        border: 2px solid black;
        border-radius: 5px; 
        padding: 5px 10px;
        margin-top: 20px;
        width: 50px;
        height: 50px; 
    }

    #logo{
        height: 100px ;
        width: 100px;
    }

    .logo1 {
        flex: 1;
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
            li{
                margin: 5px;
            }
        }

    .iconos-de-contacto {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
    /*MAIN*/
    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

    header{
        grid-area: header;
    }
    
    main{
        grid-area: main;
    }
    
    footer{
        grid-area: footer;
    }


    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 580px 410px 300px 400px 550px 500px;
        grid-template-areas:
        "texto1"
        "foto"
        "texto2"
        "imagenes"
        "texto3"
        "carrusel";
    }

    .presentacion1,
    .imagenPrincipal,
    .presentacion2,
    .presentacionImagenes,
    .presentacion3,
    .container-carrusel{
        width: 100%;
    }

    .presentacion1{
        grid-area: texto1;
    }

    .imagenPrincipal{
        grid-area: foto;
    }

    .presentacion2{
        grid-area: texto2;
    }

    .presentacionImagenes{
        grid-area: imagenes;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .presentacion3{
        grid-area: texto3;
    }

    .container-carrusel{
        grid-area: carrusel;
    }

    .titulo{
        margin-top: 20px;
    }

    parrafo1 {
        margin-top: 20px;
        p {
        margin-left: 40px;
        }
        }

    .parrafo2 {
        margin-top: 20px;
    }

    #imagen1{
        @include flex(flex, center, center);
        width: 60%;
        margin-top: 5px;
    }

    .parrafo1 p, .parrafo2 p, .parrafo3 p{
        text-align: center;
    }
    
    #capturando1, #capturando2{
        display: none;
    }

    #capturando3{
        height: 100%;
        width: 60%;
    }
    
    .miClase{
        height: 100%;
        width: 60%;
        img {
            height: auto; 
            }
        } 


    /*FOOTER*/

/*titulo del footer*/
#tituloContacto{
    font-family: $fuente-principal;
    font-size: map-get($tamañoFuente, grande);
    color: $color-estilo;
    text-align: center;
}

/*informacion de contacto*/
#whatsapp{
    font-family: $fuente-principal;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#email{
    font-family: $fuente-principal;
    font-size: 26px;
    display: flex;
    justify-content: end;
    margin-top: 16px;
}

/*formulario*/
form {
    font-size: 20px;
}

.contacto {
    text-align: center;
    
}

.fila{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin-right: 10px;
    }
}

.container form{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-6{
    display: flex;
    justify-content: center;
}

.btn-primary{ /*boton enviar*/
    width: 90px;
    height: 45px;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    background-color: $color-estilo;
    border: 1px solid green;
    background-image: linear-gradient(#2ECC71,rgb(46, 134, 81) );
    box-shadow: 0 0 10px rgb(105, 137, 126);
    &:hover{
        background-image: linear-gradient(to left, #24a259,rgb(38, 109, 66) );
        box-shadow: 0 0 10px rgba(105, 137, 126, 0.822);
        transform: scale(1.1);
        cursor: pointer;
    }
} 


    /*PÁGINAS*/
    .main-pag{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr)
    }

    .mobile-header{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

    .mobile-body{
        width: 100%;
    }

    /*Postales de Bs. As.*/
    #cabildo, #av-9-de-julio, #obelisco, #palacio-de-la-legislatura, #puerto-madero, #congreso{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }

    /*Naturaleza y animales*/
    #lago, #parque, #la-lucila-del-mar, #pato, #caballos, #perro{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }

    /*Retrato*/
    #dama, #chaplin, #campesino, #dumbledore, #mcgonagall, #tyrion{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }


    /*Lugares para visitar*/
    #campanopolis, #teatro, #puente-transbordador, #museo, #iglesia-museo, #fundacion{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }
}