/*MOVIL*/
@media (max-width: 767px){

    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

    
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "presentacion1"
        "imagenPrincipal"
        "presentacion2"
        "presentacionImagenes"
        "presentacion3"
        "container-carrusel";
    }

    .presentacion1,
    .imagenPrincipal,
    .presentacion2,
    .presentacionImagenes,
    .presentacion3,
    .container-carrusel{
        width: 100%;
    }

    .presentacion1{
        grid-area: presentacion1;
    }

    .imagenPrincipal{
        grid-area: imagenPrincipal;
    }

    .presentacion2{
        grid-area: presentacion2;
    }

    .presentacionImagenes{
        grid-area: presentacionImagenes;
    }

    .presentacion3{
        grid-area: presentacion3;
    }

    .container-carrusel{
        grid-area: container-carrusel;
    }

    .presentacionImagenes{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .fotoPrincipal {
        @include flex(flex, center, center);
    }

    .parrafo2{
        text-align: center;
    }

    #capturando1{
        display: none;
    }

    #capturando2{
        display: none;
    }

    .parrafo3{
        text-align: center;
    }

    .container-carrusel{
        width: 100%; 
    }
    
    .miClase img {
    height: auto; 
    }

    /*Páginas*/
    .main-pag{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr)
    }

    .mobile-header{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

    .mobile-body{
        width: 100%;
    }

    /*Postales de Bs. As.*/
    #cabildo, #av-9-de-julio, #obelisco, #palacio-de-la-legislatura, #puerto-madero, #congreso{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }

    /*Naturaleza y animales*/
    #lago, #parque, #la-lucila-del-mar, #pato, #caballos, #perro{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }

    /*Retrato*/
    #dama, #chaplin, #campesino, #dumbledore, #mcgonagall, #tyrion{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }


    /*Lugares para visitar*/
    #campanopolis, #teatro, #puente-transbordador, #museo, #iglesia-museo, #fundacion{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }
}