/*MOVIL*/
@media (max-width: 768px){

    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "texto1"
        "foto"
        "texto2"
        "imagenes"
        "texto3"
        "carrusel";
    }

    .presentacion1,
    .imagenPrincipal,
    .presentacion2,
    .presentacionImagenes,
    .presentacion3,
    .container-carrusel{
        width: 100%;
    }

    .presentacion1{
        grid-area: texto1;
    }

    .imagenPrincipal{
        grid-area: foto;
    }

    .presentacion2{
        grid-area: texto2;
    }

    .presentacionImagenes{
        grid-area: imagenes;
    }

    .presentacion3{
        grid-area: texto3;
    }

    .container-carrusel{
        grid-area: carrusel;
    }

    .presentacionImagenes{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .fotoPrincipal {
        @include flex(flex, center, center);
    }

    .parrafo2{
        text-align: center;
    }

    #capturando1{
        display: none;
    }

    #capturando2{
        display: none;
    }

    .parrafo3{
        text-align: center;
    }

    .container-carrusel{
        width: 100%; 
    }
    
    .miClase img {
    height: auto; 
    }

    .navbar-toggler {
        background-color: #FF0000;
        border: 2px solid black;
        border-radius: 5px; 
        padding: 5px 10px; 
    }

.navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}


    /*Páginas*/
    .main-pag{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr)
    }

    .mobile-header{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

    .mobile-body{
        width: 100%;
    }

    /*Postales de Bs. As.*/
    #cabildo, #av-9-de-julio, #obelisco, #palacio-de-la-legislatura, #puerto-madero, #congreso{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }

    /*Naturaleza y animales*/
    #lago, #parque, #la-lucila-del-mar, #pato, #caballos, #perro{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }

    /*Retrato*/
    #dama, #chaplin, #campesino, #dumbledore, #mcgonagall, #tyrion{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }


    /*Lugares para visitar*/
    #campanopolis, #teatro, #puente-transbordador, #museo, #iglesia-museo, #fundacion{
        @include flex(flex, center, center);
        width: 50%;
        height: 100%;
    }
}