/*PÁGINAS*/
.main-pag{
    @include flex(flex, space-between, center);
    height: auto;
    img{
        width: 120%;
        height: 90%;
        & hover{ /*diseño para todas las imagenes de las paginas*/
            transition: .5s;
            transform: scale(1.1);
            cursor: pointer;
            border-radius: 10px;
            box-shadow:0 0 10px rgb(154, 154, 154);
        }
    }
}

.navbar-brand{
    display: none
}

/*postales de Buenos Aires*/
#postales{ /*titulo*/
    @extend .estilo-titulos;
    font-size: map-get($tamañoFuente, grande);
}

#cabildo, #av-9-de-julio, #obelisco, #palacio-de-la-legislatura, #puerto-madero, #congreso{
    padding: 25px
}

/* naturaleza y animales*/
.main-nat-anim{
    @include flex(flex, center, center);
    padding: 10px 5%;
}

#naturalezaAnimales{ /*titulo*/
    @extend .estilo-titulos;
    font-size: map-get($tamañoFuente, grande);
    top: 100px;
}

#naturaleza{ /*primer subtitulo*/
    font-size: map-get($tamañoFuente, media);
    text-align: center;
    margin: 5px;
}

#lago, #parque, #la-lucila-del-mar, #pato, #caballos, #perro {
    max-width: 100%;
    height: auto;
}

#animales{ /*segundo subtitulo*/
    font-size: map-get($tamañoFuente, media);
    text-align: center;
    margin: 10px;
}

#lago, #parque, #la-lucila-del-mar, #pato, #caballos, #perro{ 
    padding: 25px;
}


/*Retrato*/
#retrato{ /*titulo*/
    @extend .estilo-titulos;
    font-size: map-get($tamañoFuente, grande);
}

.container{
    position: relative;
    top: 7%;
}

#dama, #chaplin, #campesino, #dumbledore, #mcgonagall, #tyrion { 
    padding: 25px;
}

/*Lugares para visitar*/
#lugares{ /*titulo*/
    @extend .estilo-titulos;
    font-size: map-get($tamañoFuente, grande);
}

#campanopolis, #teatro, #puente-transbordador, #museo, #iglesia-museo, #fundacion{
    padding: 25px;
}
