/*PÁGINAS*/
/*estilos de todas las paginas*/
.main-pag, .main-nat-anim{
    @include flex(flex, space-between, center);
    height: auto;
    img{
        width: 100%;
        border-radius: 30px;
        &:hover{ /*estilos para todas las imagenes de las paginas*/
            transition: 0.5s;
            transform: scale(1.1);
            cursor: pointer;
            box-shadow:0 0 5px rgb(95, 178, 108);
        }
    }
}

#retrato, #lugares, #postales, #naturalezaAnimales{ /*titulos*/
    @extend .estilo-titulos;
    font-size: map-get($tamañoFuente, grande);
    padding: 20px;
    margin-top: 25px;
}  

.custom-height{
    height: 525px;
}

.navbar-brand{
    display: none
}

/*postales de Buenos Aires*/
#cabildo, #av-9-de-julio, #obelisco, #palacio-de-la-legislatura, #puerto-madero, #congreso{
    padding: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* naturaleza y animales*/
.main-nat-anim{
    @include flex(flex, center, center);
    padding: 10px 5%;
}

#naturaleza, #animales{ /*primer subtitulo*/
    font-size: map-get($tamañoFuente, media);
    text-align: center;
}

#lago, #parque, #la-lucila-del-mar, #pato, #caballos, #perro{
    max-width: 100%;
    height: auto;
    padding: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.custom-height-img6{
    height: 800px;
}

/*Retrato*/
.container{
    position: relative;
    top: 7%;
}

#dama, #chaplin, #campesino, #dumbledore, #mcgonagall, #tyrion { 
    padding: 25px;
    margin-bottom: 10px;
}

/*Lugares para visitar*/
#campanopolis, #teatro, #puente-transbordador, #museo, #iglesia-museo, #fundacion{
    padding: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}
